xsd/results.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="results"
    targetNamespace="http://tempuri.org/points.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/results.xsd"
    xmlns:mstns="http://tempuri.org/points.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Result" >
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Area" type="xs:float" />
        <xs:element name="IsSimplePolygon" type="xs:boolean" />
        <xs:element name="IsPointInside" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
